@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #B9FFF8;
    font-family: sans-serif;
    outline: none;
}

.container {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    z-index: 1;
    background-color: #6FEDD6;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #EAF6F6,
        5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: insert -5px -5px 12px #EAF6F6,
        inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 12px #fff,
        5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.equal {
    width: 115px;
    border-radius: 40px;
    box-shadow: inset -5px -5px 12px #fff,
        5px 5px 12px rgba(0, 0, 0, 0.16);
}

.content {
    position: relative;
}

.content h2 {
    margin-left: 140px;
    color: #fff;
    font-size: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
    color: #66BFBF;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}
@media (max-width:1028px){
    .calculator{
        margin-left: 30px;
        margin-bottom: 190px;
    }
    .content{
        margin-top: -460px;
        transform: rotate(90deg);
    }
    .content h2 {
        
        color: #fff;
        font-size: 100px;
        position: absolute;
        transform: translate(-50%, -50%);
    }
        
}